* {
	font-family: sans-serif;
}

h1.title {
	font-size: 2em;
	text-align: center;
	margin: 30px 0 50px 0;
	text-decoration: underline;
}

#wait {
	color: darkgray;
	font-size: 1.5em;
	text-align: center;
	border: 2px dotted darkgray;
	width: max-content;
	margin: 0 auto;
	padding: 13px 35px;
	max-width: 100%;
	box-sizing: border-box;
}
body.waiting * {
	cursor: wait !important;
}
body:not(.waiting) #wait {
	display: none;
}

p.selector {
	font-weight: bold;
	color: steelblue;
	text-align: center;
}
p.selector select {
	border: 2px solid cornflowerblue;
	border-radius: 3px;
	padding: 5px 10px;
	font-weight: bold;
	color: royalblue;
	font-size: 1.05em;
	margin-left: 10px;
	cursor: pointer;
}

article {
	border-bottom: 3px solid cadetblue;
}

h1, h2 {
	color: steelblue;
}
h1:not(.title), h2 {
	display: flex;
	align-items: center;
}
h2 {
	font-size: 1.2em;
}

section {
	margin-left: 15px;
}

.colors {
	margin-bottom: 10px;
}
.colors > div {
	height: 20px;
	width: 30px;
	margin: 1px;
	float: left;
}
.colors:after {
	content: '';
	display: block;
	clear: both;
}

p {
	margin: 15px;
}

button {
	/* margin: 15px 0; */
	margin-left: 30px;
	background: cornflowerblue;
	border: 1px solid blue;
	padding: 5px 15px;
	cursor: pointer;
	border-radius: 2px;
}