.colors > div {
	height: 20px;
	width: 30px;
	margin: 1px;
	float: left;
}
.colors:after {
	content: '';
	display: block;
	clear: both;
}

a {
	clear: left;
	display: block;
	margin-top: 1.5rem;
}

hr {
	clear: left;
	margin: 2rem 0 0;
}
