* {
	font-family: sans-serif;
}

article {
	border-bottom: 3px solid cadetblue;
}

h1, h2 {
	color: steelblue;
}
h2 {
	font-size: 1.2em;
}

section {
	margin-left: 15px;
}

.colors {
	margin-bottom: 10px;
}
.colors > div {
	height: 20px;
	width: 30px;
	margin: 1px;
	float: left;
}
.colors:after {
	content: '';
	display: block;
	clear: both;
}

p {
	margin: 15px;
}

button {
	margin: 15px 0;
	background: cornflowerblue;
	border: 1px solid blue;
	padding: 5px 15px;
}